---
import { cn } from "#lib/helper"
interface Props {
  class?: string
}
---

<div class="group/project relative rounded-3xl">
  <div
    class={cn(
      "_shadow relative flex size-full h-[26rem]  bg-black items-stretch  rounded-3xl  -outline-offset-2 group-hover/project:-translate-y-0.5 transition-transform z-20 outline outline-slate-500/20 group-hover/project:outline-blue-500 @container",
      Astro.props.class,
    )}
  >
    <slot />
  </div>
  <div
    class="absolute -bottom-1 -right-1 z-10 size-full rounded-3xl bg-slate-800 bg-gradient-to-tr from-pink-500 to-violet-500 opacity-0 transition-all group-hover/project:opacity-100"
  >
  </div>
  <div class="absolute -bottom-1 -right-1 size-full rounded-3xl bg-slate-800">
  </div>
</div>
