---
import { cn } from "#lib/helper"

interface Props {
  class?: string
}
---

<div
  class={cn(
    "relative flex size-full h-[26rem] items-stretch @container",
    Astro.props.class,
  )}
  data-card
>
  {
    // Left side content
  }
  <div
    class="flex w-1/2 min-w-0 shrink grow-[5] flex-col justify-end @md:max-w-max @4xl:min-w-20"
  >
    <slot name="logo" />

    <slot name="content" />
  </div>

  {
    // Right side content
  }
  <slot name="banner" />
</div>

<style lang="postcss">
	._drop-shadow {
		filter: drop-shadow(0px 16px 24px black);
	}

	.logo {
		&::after {
			content: ' ';
			position: absolute;
			left: 0%;
			bottom: -2rem;
			background-image: var(--background);
			background-repeat: no-repeat;
			background-size: cover;
			height: 150%;
			width: 120%;
			translate: -12% 15%;
			z-index: -1;
			opacity: 80%;
			/* filter: brightness(2); */
			mask-image: radial-gradient(closest-side, black 0%, transparent 99%);
		}
	}

</style>
