---
import FancyTitle from "@components/FancyTitle.astro"
import Layout from "@layouts/Layout.astro"
---

<Layout title="Welcome to the Hyprland Community.">
  <main
    class="w-screen h-screen flex items-center p-8 justify-center gap-12 flex-col"
  >
    <FancyTitle
      label="Load themes with ease"
      classes="text-center lg:text-9xl"
    />
    <p class="text-xl lg:text-2xl text-center font-bold text-slate-400">
      Easily install themes for Hyprland with a single command
    </p>

    <a
      class="text-lg font-bold p-4 bg-black border-2 border-cyan-400 rounded-xl"
      href="/hyprtheme/themes">Browse Themes</a
    >
  </main>
</Layout>
