---
import Card from "../components/Card.astro"
import FancyTitle from "../components/FancyTitle.astro"
import Layout from "#layouts/Layout.astro"
---

<Layout title="Welcome to the Hyprland Community.">
  <main
    class="flex min-h-screen w-full min-w-0 flex-col items-center justify-center gap-8 p-4 md:gap-12 md:p-8"
  >
    <FancyTitle
      label="Hyprland Community"
      colors={["#0ee7f6", "#003dd6", "#00A2F8"]}
    />

    <p class="text-center text-lg font-medium text-slate-300 lg:text-2xl">
      A place where people work together to create awesome things for Hyprland
    </p>

    <ul class="flex w-full flex-wrap justify-center gap-8 lg:gap-16">
      <Card
        href="/hyprtheme"
        title="Hyprtheme"
        body="Easily install themes for Hyprland"
      />
      <Card
        href="/projects"
        title="Community projects"
        body="Browse through all community projects"
      />
    </ul>
  </main>
</Layout>
