---
import FancyTitle from "#components/FancyTitle.astro"
import Layout from "#layouts/HomeLayout.astro"
import TeamCards from "#components/organizationPage/TeamCards.svelte"
---

<Layout title="Hyprland Community Organization">
  <main
    class="flex min-h-[max(42rem,calc(100vh-8rem))] w-full min-w-0 flex-col items-center justify-center gap-8 p-4 md:gap-12 md:p-8"
  >
    <FancyTitle label="Organization" />

    <p
      class="mb-6 text-center text-lg font-bold text-slate-300 lg:text-xl xl:text-2xl"
    >
      Our structure and teams
    </p>

    <TeamCards client:idle />
  </main>

  <ul
    class="z-20 mx-auto mb-24 grid w-full max-w-screen-3xl grid-cols-1 justify-center gap-4 px-8 lg:gap-5 lg:px-12 xl:grid-cols-6 xl:gap-8"
  >
    <li class="xl:col-span-4"></li>
    <li class="col-span-2"></li>
  </ul>
</Layout>

<!-- class="group/card relative h-auto w-auto rounded-xl border border-black/[0.1] bg-gray-50 p-6 sm:w-[30rem] dark:border-white/[0.2] dark:bg-black dark:hover:shadow-2xl dark:hover:shadow-emerald-500/[0.1]" -->
