---
import IconDiscord from "~icons/ic/baseline-discord"
import Logo from "#assets/logo.svg"
import IconGithub from "~icons/mdi/github"
import { discordUrl, githubUrl, hyprthemeUrl } from "#lib/consts"
---

<footer class="mt-32 flex w-full items-center justify-center py-10 font-medium">
  <div
    class="flex w-full max-w-screen-xl justify-between px-2 text-lg max-sm:flex-col max-sm:gap-8 sm:px-8"
  >
    <div class="flex flex-col items-center gap-6">
      <a href="/">
        <img src={Logo.src} class="size-48" />
      </a>
      <a
        href="/"
        class="bg-gradient-to-tr from-blue-500 to-teal-200 bg-clip-text text-xl font-bold text-transparent"
      >
        Hyprland community
      </a>
    </div>

    {/* Links */}
    <div
      class="flex max-w-[30rem] flex-wrap justify-between gap-x-12 gap-y-4 px-4 sm:justify-end md:gap-16"
    >
      <ul class="flex flex-col">
        <p>Hyprtheme</p>
        <li class="item">
          <a
            target="_blank"
            href="https://github.com/hyprland-community/theme-repo"
            >Theme Repo</a
          >
        </li>
        <li class="item">
          <a href={hyprthemeUrl + "/browse"}>Browse</a>
        </li>
      </ul>

      <ul class="flex flex-col">
        <p>Community</p>
        <li class="item"><a href="/">Homepage</a></li>
        <li class="item"><a href="/projects">All projects</a></li>
      </ul>

      <ul class="flex w-full justify-center gap-4 sm:w-auto md:justify-end">
        <li class="transition-all hover:-translate-y-1">
          <a target="_blank" href={discordUrl}
            ><IconDiscord class="size-10" /></a
          >
        </li>
        <li class="transition-all hover:-translate-y-1">
          <a target="_blank" href={githubUrl}><IconGithub class="size-10" /></a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<style>
  .community-logo {
    @apply h-40 w-28 rounded-full bg-cyan-500;
  }

  ul p {
    @apply mb-2 ml-4 text-sm font-bold uppercase tracking-widest text-slate-300;
  }

  .item {
    @apply block rounded-full px-4  py-2 outline-1 transition-all hover:-translate-y-1 hover:outline;
  }
</style>
