---
import Logo, { type LogoColors } from "#components/hyprtheme/Logo.astro"
import IconGithub from "~icons/mdi/github"
import IconDiscord from "~icons/ic/baseline-discord"
import IconMenu from "~icons/mingcute/menu-line"
import { discordUrl, githubUrl, hyprthemeUrl } from "#lib/consts"

type Props = { logoColors?: LogoColors }

const { logoColors } = Astro.props
---

<script>
  const navDropdown = document.querySelector("#nav-dropdown")!
  const toggleButton = document.querySelector("#navToggle")!

  const hideClass = "hidden"

  toggleButton.addEventListener("click", toggleDropdown)

  function toggleDropdown() {
    const classes = navDropdown.classList
    const isHidden = classes.contains(hideClass)

    isHidden ? classes.remove(hideClass) : classes.add(hideClass)
  }
</script>

<header
  class="mx-auto flex w-full max-w-screen-xl flex-wrap items-center justify-between px-4 py-4 text-lg font-medium md:px-8"
>
  <a href={hyprthemeUrl} class="flex items-center gap-4"
    ><Logo colors={logoColors} class="size-8" />
    <div class="font-bold">Hyprtheme</div>
  </a>

  <button class="md:hidden" id="navToggle">
    <span class="sr-only">Open main menu</span>
    <IconMenu class="open-menu" />
  </button>

  <nav class="hidden w-full md:flex md:w-auto" id="nav-dropdown">
    <ul
      class="flex h-[calc(100vh-2rem)] w-full flex-col items-center gap-10 py-8 font-bold md:relative md:flex md:h-auto md:flex-row md:gap-8 md:py-0"
    >
      <li>
        <a
          target="_blank"
          href="https://github.com/hyprland-community/hyprtheme#install"
          >Install</a
        >
      </li>

      <li><a href={hyprthemeUrl + "/browse"}>Browse</a></li>

      <li>
        <a
          target="_blank"
          href="https://github.com/hyprland-community/hyprtheme">Docs</a
        >
      </li>

      <li>
        <ul class="flex h-full flex-col gap-8 md:flex-row md:gap-3">
          <li>
            <a target="_blank" href={githubUrl}
              ><IconGithub class="size-8 md:size-6" /></a
            >
          </li>
          <li>
            <a target="_blank" href={discordUrl}
              ><IconDiscord class="size-8 md:size-6" /></a
            >
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>

<style>
  ul li a {
    @apply h-full   transition-colors hover:text-slate-300;
  }
</style>
