---
import Logo, { type LogoColors } from "#components/hyprtheme/Logo.astro"
import IconGithub from "~icons/mdi/github"
import { githubUrl } from "#lib/consts"

type Props = { logoColors?: LogoColors }

const { logoColors } = Astro.props
---

<nav
  class="h-16 font-medium justify-between py-2 text-lg flex items-center mx-auto px-8 w-full max-w-screen-xl"
>
  <a href="/hyprtheme" class="flex gap-4"
    ><Logo colors={logoColors} class="size-8" />
    <div class="font-bold">Hyprtheme</div>
  </a>

  <ul class="flex gap-8 font-bold items-center">
    <li>
      <a
        target="_blank"
        href="https://github.com/hyprland-community/hyprtheme#install"
        >Install</a
      >
    </li>
    <li><a href="/hyprtheme/browse">Browse</a></li>
    <li>
      <a target="_blank" href="https://github.com/hyprland-community/hyprtheme"
        >Docs</a
      >
    </li>
    <li>
      <a target="_blank" href={githubUrl}><IconGithub class="h-6 w-6" /></a>
    </li>
  </ul>
</nav>

<style>
  ul li a {
    @apply transition-colors hover:text-slate-300;
  }
</style>
