---
import Logo, { type LogoColors } from "#components/hyprtheme/Logo.astro"
import IconGithub from "~icons/mdi/github"
import IconDiscord from "~icons/ic/baseline-discord"
import IconMenu from "~icons/mingcute/menu-line"
import { discordUrl, githubUrl } from "#lib/consts"

type Props = { logoColors?: LogoColors }

const { logoColors } = Astro.props
---

<script>
  const navDropdown = document.querySelector("#nav-dropdown")
  const toggleButton = document.querySelector("#navToggle")

  const hideClass = "hidden"

  toggleButton.addEventListener("click", toggleDropdown)

  function toggleDropdown() {
    const classes = navDropdown.classList
    const isHidden = classes.contains(hideClass)
    console.log(isHidden)

    isHidden ? classes.remove(hideClass) : classes.add(hideClass)
  }
</script>

<header
  class="fixed z-50 mx-auto flex h-16 w-full max-w-screen-xl items-center justify-between px-4 py-2 text-lg font-medium md:relative md:px-8"
>
  <a href="/hyprtheme" class="flex items-center gap-4"
    ><Logo colors={logoColors} class="size-8" />
    <div class="font-bold">Hyprtheme</div>
  </a>

  <button class="md:hidden" id="navToggle"><IconMenu /></button>

  <nav id="nav-dropdown" class="absolute inset-0 h-screen w-screen bg-black/50">
    <ul
      class="flex flex-col items-center gap-8 font-bold md:relative md:flex-row"
    >
      <li>
        <a
          target="_blank"
          href="https://github.com/hyprland-community/hyprtheme#install"
          >Install</a
        >
      </li>
      <li><a href="/hyprtheme/browse">Browse</a></li>
      <li>
        <a
          target="_blank"
          href="https://github.com/hyprland-community/hyprtheme">Docs</a
        >
      </li>
      <ul class="flex gap-3">
        <li>
          <a target="_blank" href={githubUrl}><IconGithub class="h-6 w-6" /></a>
        </li>
        <li>
          <a target="_blank" href={discordUrl}
            ><IconDiscord class="h-6 w-6" /></a
          >
        </li>
      </ul>
    </ul>
  </nav>
</header>

<style>
  ul li a {
    @apply transition-colors hover:text-slate-300;
  }
</style>
