---
import ThemeLogo from "#assets/hyprtheme-logo.svg?raw"
import IconGithub from "~icons/mingcute/github-line"
---

<nav
  class="h-16 font-medium justify-between text-lg flex items-center mx-auto px-8 w-full max-w-screen-xl"
>
  <a href="/hyprtheme" class="flex gap-4"
    ><Fragment set:html={ThemeLogo} class="w-8 h-8" height="32" />
    <div class="font-bold">Hyprtheme</div>
  </a>

  <ul class="flex gap-8 font-bold items-center">
    <li><a href="">Install</a></li>
    <li><a href="/hyprtheme/browse">Browse</a></li>
    <li><a href="https://github.com/hyprland-community/hyprtheme">Docs</a></li>
    <li>
      <a href="https://github.com/hyprland-community/hyprtheme"
        ><IconGithub class="h-6 w-6" /></a
      >
    </li>
  </ul>
</nav>
