html {
  color: theme(colors.white);
  background:
    url("grain.webp") repeat,
    theme(colors.black);
  background-blend-mode: difference, normal;
  position: relative;
}

body {
  overflow-x: hidden;
}
