---
import "../global.css"
import "@fontsource-variable/work-sans"
import Footer from "#components/Footer.astro"
import Logo from "#assets/logo.svg"

interface Props {
  title: string
  icon?: string
  description?: string
}

const {
  title,
  icon,
  description = "A place where people work together to create awesome things for Hyprland",
} = Astro.props
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/svg+xml" href={icon ?? Logo.src} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="absolute w-full">
    <slot />

    <Footer />
  </body>
</html>

<style is:global></style>
