---
import Layout from "#layouts/HyprthemeLayout.astro"
import { GET, type ProcessedTheme } from "#api/themes.json"
import FancyTitle from "#components/FancyTitle.astro"
import ThemesList from "#components/hyprtheme/ThemesList.astro"

const themes: readonly ProcessedTheme[] = await GET(Astro).then((response) =>
  response.json(),
)
---

<Layout title="Hyprland Themes">
  <div class="mx-auto w-screen">
    <header class="my-24 flex flex-col items-center gap-5">
      <FancyTitle label="Browse Themes" />

      <p class="text-center text-xl font-medium text-slate-300">
        Handcrafted themes for your ricing endavours
      </p>
    </header>

    <main class="w-full">
      <ThemesList {themes} />
    </main>
  </div>
</Layout>
