---
import Layout from "#layouts/Hyprtheme.astro"
import { GET, type ProcessedTheme } from "#api/themes.json"
import FancyTitle from "#components/FancyTitle.astro"
import ThemeCard from "#components/ThemeCard.astro"

const themes: readonly ProcessedTheme[] = await GET(Astro).then((response) =>
  response.json(),
)
---

<Layout title="Hyprland Themes">
  <div class="flex flex-col gap-5 items-center my-24">
    <FancyTitle label="Browse Themes" />
    <p class="text-xl text-slate-300 font-medium">
      Handcrafted themes for your ricing endavours
    </p>
  </div>

  <ul
    class="md:grid md:grid-cols-2 flex flex-col px-8 gap-6 max-w-screen-lg mx-auto"
  >
    {themes.map((theme) => <ThemeCard {theme} />)}
  </ul>
</Layout>
