---
import Layout from "#layouts/Layout.astro"
// Might be nice to edit some generated colors for the title (ensure a min/max lightness)
// import chroma from "chroma-js"

import { getTitleColors } from "#lib/helper"
import { GET, type ProcessedTheme } from "#api/themes.json"
import FancyTitle from "#components/FancyTitle.astro"
import ThemeCard from "#components/ThemeCard.astro"

const themes: readonly ProcessedTheme[] = await GET(Astro).then((response) =>
  response.json(),
)
---

<Layout title="Hyprland Themes">
  <div class="flex flex-col gap-2">
    <FancyTitle label="Browse Themes" />
    <p>Handcrafted themes for your ricing endavours</p>
  </div>

  <ul class="flex flex-wrap gap-6">
    {themes.map((theme) => <ThemeCard {theme} />)}
  </ul>
</Layout>
